<!doctype html>
<hmtl>
    <head>
        <% include partials/resources.ejs %>
        <title> Testseite </title>
    </head>
    <body>
    <% include partials/navigation.ejs %>
    <% include partials/header.ejs %>
    <main>
        <div class="online-users">
            Zur Zeit sind online:
            <ul id="user-list" class="undecorated">
            <% for(var i = 0; i < room.users.length; i++){ %>
                <li> <%= room.users[i]%> </li>
            <% } %>
            </ul>
        </div>
        <div class="video-streams">
            <ul id="video-list" class="undecorated">

            </ul>
        </div>
        <div class="video-control">
            <button type="button" id="call-button" class="button"> Anrufen </button>
        </div>
        <div class="chat-messages">
            <ul id="message-list" class="undecorated">

            </ul>
        </div>
        <div>
            <input type="text" placeholder="Nachricht (Enter)" class="textinput" id="message-field">
        </div>
    </main>
    <script>
        var socketServerUrl = '<%= server.protocol.toLowerCase() === 'https' ? 'wss' : 'ws' %>://<%= server.address %>:<%= server.port %>/';
        var user = '<%= user %>';
    </script>
    <script src="/scripts/call.js"></script>
    </body>
</hmtl>